* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login .form {
    width: 30%;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black; }
    .login .form .greetings {
      font-size: 2em;
      margin-bottom: 30px;
      text-align: center; }
    .login .form label {
      margin-bottom: 5px; }
    .login .form input {
      font-size: 1.3em;
      margin-bottom: 20px;
      border-radius: 10px; }
    .login .form button {
      color: white;
      background-color: black;
      font-size: 1.2em;
      width: 100%;
      border-radius: 10px; }
